<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.uminekoplease">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/app_icon"
        android:label="@string/UminekoReader"
        android:roundIcon="@mipmap/app_icon_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.UminekoPlease">
        <activity android:name=".ChapterReader"/>
        <service
            android:name=".SoundService"
            android:enabled="true" />

        <activity
            android:name=".MainActivity"
            android:label="@string/UminekoReader"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.UminekoPlease.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ChapListEp1"
            android:theme="@style/Theme.UminekoPlease.NoActionBar" />
    </application>

</manifest>